<div class="home-hero d-flex align-items-center justify-content-center text-center">
  <div class="hero-content">

    <h1 class="hero-title">Transforme conversas de clientes em insights acionáveis com IA</h1>

    <p class="hero-subtitle">
      Assistente de IA que analisa interações e revela informações valiosas para decisões mais rápidas e estratégicas
    </p>

  <!-- code a "How it works" section -->
   <div class="container2">
    <div class="cards">
      <div class="card 1">
        <h4>Selecione uma conversa de cliente</h4>
        <%= image_tag "customers2.jpg", alt: "Le Wagon", width: 200 %>
      </div>

      <div class="card 2">
        <h5>Abra um IA chat</h5>
        <%= image_tag "chatbot.jpg", alt: "Le Wagon", width: 200 %>
      </div>

      <div class="card 3">
        <h6>Gere insights</h6>
        <%= image_tag "lightbulb.jpg", alt: "Le Wagon", width: 200 %>
      </div>
    </div>


   </div>

    <%= link_to "Começar agora", questions_path, class: "btn btn-primary btn-lg hero-btn" %>

  </div>
</div>
